<?php
/**
 * Template de configuración Dolibarr
 * Copiar a conf/conf.php y completar valores
 * GENERADO AUTOMÁTICAMENTE por scripts/install-dolibarr.sh
 * NO EDITAR MANUALMENTE - usar variables de entorno
 */

// Base de datos - VALORES DESDE VARIABLES DE ENTORNO
$dolibarr_main_db_host     = getenv('DOLIBARR_DB_HOST') ?: 'localhost';
$dolibarr_main_db_port     = getenv('DOLIBARR_DB_PORT') ?: '3306';
$dolibarr_main_db_name     = getenv('DOLIBARR_DB_NAME') ?: 'dolibarr';
$dolibarr_main_db_user     = getenv('DOLIBARR_DB_USER') ?: 'dolibarr';
$dolibarr_main_db_pass     = getenv('DOLIBARR_DB_PASSWORD') ?: 'CHANGE_ME';
$dolibarr_main_db_type     = 'mysqli';

// Rutas - CALCULADAS DINÁMICAMENTE
$dolibarr_main_document_root = getenv('DOLIBARR_DOCUMENT_ROOT') ?: '/var/www/html';
$dolibarr_main_data_root     = getenv('DOLIBARR_DATA_ROOT') ?: '/home/saulo/transvega-animal/dolibarr/documents';
$dolibarr_main_url_root      = getenv('DOLIBARR_URL_ROOT') ?: 'http://localhost:8080';
$dolibarr_main_url_root_alt  = getenv('DOLIBARR_URL_ROOT_ALT') ?: 'http://host.docker.internal:8080';

// Seguridad
$dolibarr_main_authentication = 'dolibarr';
$dolibarr_main_force_https    = getenv('DOLIBARR_FORCE_HTTPS') ?: '0';

// Configuración general
$dolibarr_main_prod              = '1';
$dolibarr_main_demo              = '0';
$dolibarr_main_optimize_smarty   = '1';
$dolibarr_main_db_character_set  = 'utf8mb4';
$dolibarr_main_db_collation      = 'utf8mb4_unicode_ci';

// Módulos recomendados
$dolibarr_main_modules_expense_report        = '1';
$dolibarr_main_modules_supplier_proposal     = '1';
$dolibarr_main_modules_supplier_order        = '1';
$dolibarr_main_modules_supplier_invoice      = '1';
$dolibarr_main_modules_propal                = '1';
$dolibarr_main_modules_order                 = '1';
$dolibarr_main_modules_invoice               = '1';
$dolibarr_main_modules_shipment              = '1';
$dolibarr_main_modules_reception             = '1';
$dolibarr_main_modules_contract              = '1';
$dolibarr_main_modules_project               = '1';
$dolibarr_main_modules_product               = '1';
$dolibarr_main_modules_stock                 = '1';
$dolibarr_main_modules_warehouse             = '1';
$dolibarr_main_modules_bank                  = '1';
$dolibarr_main_modules_tva                   = '1';
$dolibarr_main_modules_facturae              = '1';
$dolibarr_main_modules_verifactu             = '1';
$dolibarr_main_modules_fidelite              = '1';
$dolibarr_main_modules_import                = '1';

// Módulo personalizado expediente_animal
$dolibarr_main_modules_expediente_animal     = '1';